@model BeautyShop.Models.record

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Клиент
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user.fio)
        </dd>

        <dt>
            Мастер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.user1.fio)
        </dd>

        <dt>
            Дата записи
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date_record)
        </dd>

        <dt>
            Услуга
        </dt>
        <dd>
            @Html.DisplayFor(model => model.service_work.service_name)
        </dd>

        <dt>
            Акция
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sale.sale_name)
        </dd>

        <dt>
            Цена
        </dt>
        <dd>
            @Html.DisplayFor(model => model.record_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id_record }) |
    @Html.ActionLink("Обратно", "Index")
</p>
