@model BeautyShop.Models.user

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @{ byte[] photo = Model.img;
                string imageSrc = null;
                if (photo != null)
                {
                    MemoryStream ms = new MemoryStream();
                    ms.Write(photo, 0, photo.Length);
                    string imageBase64 = Convert.ToBase64String(ms.ToArray());
                    imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                    string base64String = Convert.ToBase64String(photo, 0, photo.Length);
                }
            }
            <img src="@imageSrc" alt="Image" width="150" height="100" />
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.fio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_role.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_role.role_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_user }) |
    @Html.ActionLink("Back to List", "Index")
</p>
